<div class='post-container'>
  <h4 class='post-id'>Post #<%= post.id %></h4>
  <p><%= post.text %></p>
  <div class='post-stats'>
    <p>Likes: <%= post.likes_counter %></p>
    <p>Comments: <%= post.comments_counter %></p>
  </div>
</div>