<div class='posts-container'>
  <%= render 'users/user', user: @user %>
  <% @posts.each do |post| %>
    <%= render 'post_preview', post: post %>
    <%= render partial: 'post_comments', locals: { comments: post.recent_comments } %>
  <% end %>
  <button class='pagination'>Pagination</button>
</div>