* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.users-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.user-photo {
  width: 25%;
}

.user-photo img {
  width: 100%;
}

.user-data {
  display: flex;
  flex-direction: column;
  padding: 5% 2% 4% 2%;
  width: 60%;
  height: 15%;
  border: 1px solid black;
}

.user-data p {
  align-self: flex-end;
  font-size: 8px;
}

.bio-container {
  border: 1px solid black;
  padding: 2%;
}

.bio-container h4 {
  margin-bottom: 2%;
}

.post-container {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  padding: 2%;
  border: 1px solid black;
}

.post-container h4 {
  margin-bottom: 2%;
}

.post-stats {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 28%;
  margin-top: 2%;
  font-size: 8px;
}

.all-posts {
  width: 40%;
  margin-top: 2%;
  align-self: center;
}
